# Analysis of Adidas sales in the USA data

### This ipybn file contains a brief revision of an Adidas sales in theÂ  USA dataset, containing sales records from 2020 to 2021. 

Reference: This dataset was obtained from Kaggle at https://www.kaggle.com/datasets/sagarmorework/adidas-us-sales. 

After to start with data manipulation a fast view of the file in Excel was made, and was found that dataset counts with a 4 rows header and 14 fields, being the first a completely empty field. No footer was found.

Once saw that, we start with data manipulation:

In [1]:
# Import necessary libraries
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import sys

In [2]:
# Import data
df= pd.read_excel('AdidasUSSalesDatasets.xlsx', skiprows=4, usecols=[i+1 for i in range(13)])

## 1. First visualization

We observe the firs basic aspects:

In [20]:
# First rows:
df.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

In [4]:
# null and nan values:
df.isnull().describe()
df.isna().describe()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
count,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648
unique,1,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648,9648

*df* does not contain **nan** nor **null** values.  Now we observe the dtypes compounding *df* $df$:

In [21]:
df.dtypes

Retailer                    object
Retailer ID                  int64
Invoice Date        datetime64[ns]
Region                      object
State                       object
City                        object
Product                     object
Price per Unit             float64
Units Sold                   int64
Total Sales                float64
Operating Profit           float64
Operating Margin           float64
Sales Method                object
dtype: object

And apparently everything is ok with the dataset.

In [34]:
df.groupby(['State']).sum('Total Sales')

,Retailer ID,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
State,,,,,,
Alabama,258586308,7924.0,63327,17633424.0,9147581.39,119.57
Alaska,169711614,8239.0,30815,14753103.0,4498345.86,50.38
Arizona,243712584,9928.0,46919,15782221.0,5344664.58,84.20
Arkansas,258731496,7201.0,48468,12639347.0,4915697.91,95.15
California,501405708,21404.0,163284,60174133.0,19301170.40,167.12
Colorado,162475056,8653.0,41378,20996536.0,7713555.83,61.50
Connecticut,256118112,9421.0,34696,11573448.0,4152320.79,86.75
Delaware,170745408,6827.0,30275,12298412.0,4524350.06,61.63
Florida,416008683,20410.0,133430,59283714.0,20926206.92,140.48
Georgia,245263275,10110.0,56391,18997466.0,6893289.61,89.36
Hawaii,162475056,9252.0,40375,22282457.0,5849794.07,46.02
Idaho,256854132,8643.0,63827,19276878.0,8121115.10,99.13
Illinois,170842200,6875.0,25407,9797488.0,3920368.61,64.73
Indiana,170745408,5595.0,26332,8836198.0,3379256.00,62.48
Iowa,170745408,5244.0,23446,7424011.0,2655217.37,60.61
Kansas,172269882,5514.0,29463,9972864.0,3510147.29,59.28
Kentucky,170745408,6257.0,28664,10072848.0,3935830.23,64.60
Louisiana,245589948,11305.0,57615,23750781.0,9417233.49,96.52
Maine,170285944,7004.0,22410,9195978.0,3187654.37,57.44
Maryland,170745408,6346.0,20818,7758059.0,2757642.12,58.67
Massachusetts,256118112,9674.0,32895,11076810.0,3353875.87,74.98
Michigan,170745408,6252.0,50095,18625433.0,8135894.02,68.51
Minnesota,170778216,5957.0,20838,7378068.0,2670229.76,58.77
Mississippi,256444785,7664.0,56814,15591709.0,6369094.73,98.13
Missouri,170745408,4534.0,36404,9683265.0,3907209.36,65.26
Montana,171399936,6483.0,42713,15710886.0,6232037.55,67.83
Nebraska,170842200,5309.0,19154,5929038.0,2439478.41,65.94
Nevada,243712584,11735.0,51831,20858509.0,7060651.92,87.68
New Hampshire,256118112,11586.0,40812,16411667.0,5786206.43,84.46
New Jersey,170745408,6333.0,26540,9934246.0,3657237.22,61.50
New Mexico,243712584,10931.0,52633,19865016.0,6738060.41,84.87
New York,427008708,17680.0,169140,64229039.0,23329824.07,147.00
North Carolina,170745408,6405.0,62936,23956531.0,9756422.87,66.75
North Dakota,170745408,5727.0,22781,7735580.0,2688519.72,57.40
Ohio,170745408,6421.0,47781,18484583.0,7528840.09,66.10
Oklahoma,258731496,7218.0,40459,10620734.0,4106532.14,93.98
Oregon,243712584,11607.0,50536,21349674.0,7573145.00,89.34
Pennsylvania,255428916,10787.0,27662,10357519.0,4156739.25,91.99
Rhode Island,256118112,8716.0,27473,8446806.0,3045817.26,89.07
South Carolina,170745408,6871.0,72610,29285637.0,11324236.39,62.36
South Dakota,170745408,6311.0,22973,8495576.0,2943318.21,56.83
Tennessee,258586308,7798.0,66077,18067440.0,8493660.06,109.42
Texas,516483420,16963.0,159500,46359746.0,18688204.35,194.03
Utah,254567421,5795.0,48548,9696420.0,3873429.10,96.05
Vermont,256118112,10651.0,38685,14352923.0,5785966.49,95.96
Virginia,245263275,11371.0,52969,21575040.0,7719430.68,89.51
Washington,162934520,9742.0,46611,26330718.0,6991403.13,46.81
West Virginia,170745408,5914.0,29873,10689160.0,4282953.72,65.78
Wisconsin,170745408,5336.0,23950,7727469.0,2800830.09,61.09
Wyoming,169711614,6327.0,50228,18577517.0,6544071.15,58.00